<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simbiosys.chapooapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.simbiosys.chapooapp.DefaultApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.simbiosys.chapooapp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.simbiosys.chapooapp.ForgetPassActivity"
            android:label="@string/title_activity_forget_pass" >
        </activity>
        <activity
            android:name="com.simbiosys.chapooapp.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.simbiosys.chapooapp.SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name="com.simbiosys.chapooapp.FolderActivity"
            android:label="@string/title_activity_folder" >
        </activity>
        <activity
            android:name="com.simbiosys.chapooapp.SettinglistActivity"
            android:label="@string/title_activity_settinglist"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="com.simbiosys.chapooapp.UploadActivity"
            android:label="@string/title_activity_upload" >
        </activity>
    </application>

</manifest>